node_modules/
.next/
out/
dist/

# env
.env
.env.local
.env.*.local

# db
prisma/*.db
prisma/*.db-journal

# misc
*.log
.DS_Store
.emails/

# build artifacts
*.tsbuildinfo

# загруженные файлы (изображения товаров)
data/

# генерируется vercel-build (провайдер postgres)
prisma/schema.pg.prisma
